/* universal-property-section */
* {
    font-family: 'Work Sans', sans-serif;
}

/* header-section */
header {
    background: rgba(255, 144, 14, 0.1);
}
nav{
    display: flex;
    justify-content: center;
}
.nav-box{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style: none;
}

ul>li {
    margin-left: 10px;
}

.header-txtpart {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.header-description,
.bl-description {
    font-family: normal;
    font-size: 12px;
    font-weight: 200;
}

.btn-box {
    display: flex;
    justify-content: center;
}

.header-btn {
    background-color: rgba(255, 144, 14, 1);
    color: white;
    border: none;
    border-radius: 8px;
    width: 180px;
    height: 64px;
    margin: 2% 0;
}
.primary-box{
    display: flex;
    justify-content: center;
}
.banner-img-box{
    width: 70%;
    padding: 2% 0;
}
.banner-img{
    height: 100%;
    width: 100%;
}
/* quick-feature-section */
.quick-feature{
    display: flex;
    justify-content: center;
    padding: 10% 0;
}
.quick-container{
    display: flex;
    width: 70%;
}
.team-img{
    height: 100%;
    width: 100%;
}
.box-left{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap:2%;
    column-gap: 2%;
}
.box-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-right-content{
    width: 80%;
}
.sponsor-des,
.gray{
    color: gray;
}
.orange{
    color:rgba(255, 144, 14, 1);
}
/* features-enjoy-section */
.enjoy-main-container{
    display: flex;
    justify-content: center;
}
.enjoy-container{
    width: 70%;
    display: flex;
}
.enjoy-left-box{
    width: 50%;
}
.enjoy-right-box{
    width: 50%;
    position:relative;   
}
.enjy-img{
    width: 90%;
    height: 90%;
    position:absolute;
    top: 0;
    right: 0;
}
.elb-title{
    border-left: 3px solid rgba(255, 144, 14, 1);
    margin-left: 2%;
    padding-left: 1%;
}
.footer-description,
.sponsor-des,
.sfh-description,
.fo-description,
.elb-description{
    font-size: 10px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
.upper-box,
.lower-box{
    width: 80%;
}
.feature-options{
    margin: 1%;
    border-radius: 2px;
    box-shadow: 1px 1px 10px 1px lightgray;
    padding: 1% 2%;
    margin: 3% 0;
}
.fo-title{
    font-size: 16px;
}
.experience-box{
    width:40%;
    background-color:rgba(255, 144, 14, 1);
    border: none;
    border-radius: 8px;
    text-align: center;
    position:absolute;
    bottom: 0;
    left: 0;
    color: white;
}

/* some-facts-section */
.some-facts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% 0;
}
.some-facts-main{
    width: 80%;
}
.sfh-container{
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.sfh-contnt-box{
    width: 17%;
    border: 2px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin: 5% 0;
    transition: width 1s, height 1s, transform 1.5s;
}
.sfh-contnt-box:hover{
    width: 20%;
    transform: rotate(360deg);
}

.scb-description{
    font-size: 14px;
    font-weight: 400;
    color: #727272;
    font-family: Arial, Helvetica, sans-serif;
}
/* our-sponsors-section */
.sponsor-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sponsor-container{
    text-align: center;
    width: 70%;
    margin-bottom: 5%;
}
.sponsor-logo{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}
.logo-inner-box{
    width: 10%;
}
.logo-img{
    width: 100%;
    height: 100%;
}
/* extra-section */
.cntct-for-middle{
    display: flex;
    justify-content: center;
}
.contact-container-main{
    width: 80%;
    display: flex;
    margin: 2%;
    border-radius: 8px;
    background: linear-gradient(to bottom, rgb(206, 197, 194), rgba(241, 91, 34, 0));
}
.contact-container{
    background-color: rgb(52, 46, 46);
    border: none;
    border-radius: 3px;
    color: #dfb371;
    box-shadow: 1px 1px 5px 1px rgb(76, 72, 72);
    padding: 4%;
    margin: 4%;
}

/* footer */

.footer{
    display: flex;
    justify-content: center;
}
.footer-item{
    width: 70%;
    text-align: center;
    background-color:rgba(255, 244, 231, 1);
    padding: 1%;
    margin: 2%;
    border-radius: 4px;
}
.footer-description{
    font-size: 14px;
}





